@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Permanent+Marker&family=Poppins&display=swap');

*{
    padding: 0%;
    margin: 0%;
 
    
}


    



.first-container{
  
    width: 100%;
    display: flex;
    height: 100vh;
    
}

.animated-text h2{
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-size: 40px;
}

h4{
    line-height: 40px;
    animation: typing 3s steps(22) forwards;
}

.img1{
    width: 50%;
    height: 400px;
    margin-left: 20px;
}






.animated-text{
    font-size: 34px;
    font-weight: 600;
    font-family: "Bitcount Grid Single", system-ui;
    font-optical-sizing: auto;
    font-size: 38px;
    margin-left: 100px;
    margin-top: 200px;
    width: 50%;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Aflah";
    color: #ff7f50;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #2f3542;
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "Aflah";
    }
    21%,40%{
        content: "Web Devoloper";
    }
    41%,60%{
        content: "MERN Stack";
    }
    61%,80%{
        content: "Designer";
    }
    81%,100%{
        content: "Freelancer";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

