
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Permanent+Marker&family=Poppins:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
}


.main-container{
    background-image: none;
}

.icon{
    color: white;
}
nav{
    width: 100%;
    height: 100px;
    background-image: none;
}
ul{
    list-style: none;
    display: flex;
    gap: 80px;
    margin-left: 900px;
    background-image: none;
    
}

.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Bitcount Grid Single", system-ui;
    font-optical-sizing: auto;
    /* font-weight: bold; */
    position: relative;
}

/* Underline efffect */

.link::after{
    content: "";
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 0;
    background: lightgreen;
    transition: width .2s;
    border-radius: 5px;
    
}

.link:hover:after{
    width: 100%;
}
/* //////////////////////////// */