
div{
    /* height: 100vh; */
    /* background-image: url(./assets/jeremy-bishop-G9i_plbfDgk-unsplash.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2f3542;
}