@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Permanent+Marker&family=Poppins:wght@300&display=swap');

*{
    color: white;
    font-family: "Bitcount Grid Single", system-ui;
    font-optical-sizing: auto;
}

.container h2{
    font-size: 40px;
    font-weight: normal;
}

.second-container{
    height: 100vh;
    margin-left: 40px;
    margin-top: 70px;
    display: flex;
    gap: 150px;
}

.cards{
    width: 250px;
}

.cards h5{
    font-weight: normal;
    margin-top: 15px;
}

.cards p{
    font-size: 15px;
    margin-top: 15px;
}

