/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');



.navbar-main-container{
    background-color: #fff;
    color: black;
    display: flex;
    gap: 500px;
}
.navbar-first-container{
    display: flex;
    gap: 5px;
    /* font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal */

    font-family: "Teko", sans-serif;
    font-size: 25px;
    font-optical-sizing: auto;
    font-style: normal;
}
.navbar-first-container span{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.navbar-second-container{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-top: 50px;
}

.navbar-second-container a{
    text-decoration: none;
    margin-left: 70px;
    color: black;
    
}

